body{
	background: #b61924;
}
.card .header-danger{
	background: linear-gradient(60deg, #669999, #43877C);
	margin: 0;
	width: 100%;
}
.card-plain{
	z-index: 950;
	padding: 0;
	margin: 0;
}
.content-add{
	background: transparent;
}
.tab-pane{
	background: transparent;
}
.tab-content{
	background: transparent;
}
.content-add{
	width: 100%;
}

.tab-pane{
	width: 80%;
	margin: 0 auto;
}
.card-signup{
	padding: 20px;
	margin-top: 10px;
	width: 100%;
}

.center{

	text-align: center;
}

.connect{
	background-color: #03a9f4;
	border-radius: 50%;
	width: 5px;
	padding: 5px;
}
.connect:hover{
	background-color: #5FF200;
	padding: 5.5px;
	transition: 0.1s all;
}
#main_container{
	background: transparent;
}
#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url("");
  background-repeat: repeat;
  background-size: cover;
}

